AIRLOCK_SNOWFLAKE_ACCOUNT=
AIRLOCK_SNOWFLAKE_USER=
AIRLOCK_SNOWFLAKE_ROLE=
AIRLOCK_SNOWFLAKE_WAREHOUSE=
AIRLOCK_APPLICATION_NAME=AIRLOCK
AIRLOCK_PRIVATE_KEY_PATH=
AIRLOCK_PRIVATE_KEY_PASSPHRASE=
AIRLOCK_SNOWFLAKE_CONNECTION_NAME=
AIRLOCK_MCP_DEFAULT_AIRLOCK_ROLE=
AIRLOCK_MCP_MAX_INLINE_BYTES=1048576
AIRLOCK_MCP_ADMIN_TOOLS=0
